/resteasyws/*.classpath
/resteasyws/*.project
/resteasyws/.settings/*.jsdtscope
/resteasyws/.settings/*.prefs
/resteasyws/.settings/*.component
/resteasyws/.settings/*.xml
/resteasyws/.settings/*.container
/resteasyws/.settings/*.name
/resteasyws/target/classes/com/rest/*.class
/resteasyws/target/classes/com/rest/application/*.class
/resteasyws/target/classes/com/rest/client/*.class
/resteasyws/target/classes/com/rest/jettison/*.class
/resteasyws/target/classes/com/rest/json/*.class
/resteasyws/target/classes/com/rest/xml/*.class
/resteasyws/target/m2e-wtp/web-resources/META-INF/maven/com.resteasy/resteasyws/*.properties
/resteasyws/target/m2e-wtp/web-resources/META-INF/maven/com.resteasy/resteasyws/*.xml
/resteasyws/target/maven-archiver/*.properties
/resteasyws/target/*.war
/resteasyws/target/resteasyws-0.0.1-SNAPSHOT/WEB-INF/classes/com/rest/*.class
/resteasyws/target/resteasyws-0.0.1-SNAPSHOT/WEB-INF/classes/com/rest/application/*.class
/resteasyws/target/resteasyws-0.0.1-SNAPSHOT/WEB-INF/classes/com/rest/jettison/*.class
/resteasyws/target/resteasyws-0.0.1-SNAPSHOT/WEB-INF/classes/com/rest/json/*.class
/resteasyws/target/resteasyws-0.0.1-SNAPSHOT/WEB-INF/classes/com/rest/xml/*.class
/resteasyws/target/resteasyws-0.0.1-SNAPSHOT/WEB-INF/lib/*.jar
/resteasyws/target/resteasyws-0.0.1-SNAPSHOT/WEB-INF/*.xml
/resteasyws/target/resteasyws-0.0.1-SNAPSHOT/*.jsp
/jerseyws/.classpath
/jerseyws/.gitignore
/jerseyws/.project
/jerseyws/.settings/.jsdtscope
/jerseyws/.settings/org.eclipse.jdt.core.prefs
/jerseyws/.settings/org.eclipse.m2e.core.prefs
/jerseyws/.settings/org.eclipse.wst.common.component
/jerseyws/.settings/org.eclipse.wst.common.project.facet.core.xml
/jerseyws/.settings/org.eclipse.wst.jsdt.ui.superType.container
/jerseyws/.settings/org.eclipse.wst.jsdt.ui.superType.name
/jerseyws/.settings/org.eclipse.wst.validation.prefs
/restsecurity/.classpath
/restsecurity/.gitignore
/restsecurity/.project
/restsecurity/.settings/.jsdtscope
/restsecurity/.settings/org.eclipse.jdt.core.prefs
/restsecurity/.settings/org.eclipse.m2e.core.prefs
/restsecurity/.settings/org.eclipse.wst.common.component
/restsecurity/.settings/org.eclipse.wst.common.project.facet.core.xml
/restsecurity/.settings/org.eclipse.wst.jsdt.ui.superType.container
/restsecurity/.settings/org.eclipse.wst.jsdt.ui.superType.name
/restsecurity/.settings/org.eclipse.wst.validation.prefs
