<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Jersey-Servlet</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<!-- <init-param> <param-name>com.sun.jersey.config.provider.packages</param-name> 
			<param-value>com.rest.ws</param-value> </init-param> -->
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.rest.application.ApplicationResourceConfig</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Jersey-Servlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SecuredAdmin</web-resource-name>
			<url-pattern>/rest/message/securedAdmin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>jersey</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<role-name>jersey</role-name>
	</security-role>

	<security-role>
		<role-name>secured</role-name>
	</security-role>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Secured</web-resource-name>
			<url-pattern>/rest/message/secured/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>secured</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Login</realm-name>
	</login-config>

</web-app>
